.content{
    height:98%;
    width:99%;
    background-color: chartreuse;
}
.details{
    height:75vh;
    width:fit-content;
    padding:5px;
    border:1px solid blue;
    margin:50px auto auto 200x;
}
table{
    border-collapse: collapse;
}
table,tr,td{
    border:2px solid red;
}